.btn-wrapper button {
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: #333 0px 1px 5px;
}

.img-wrapper img{
    width: 100px;
    margin-top: -10px;
}

.cart-wrapper{
    height: 100px;
    width: 500px;
    border: 1px solid #ccc;
    margin-left: 10%;
}

.item{
    float: left;
    display: inline-block;
    width: 120px;
    padding: 20px;
    height: 70px;
}

.add-to-cart img{
    width: 80px;
    position : absolute;
    top:1%;
    right: 1%;
}